.container {
    position: fixed;
    top : 0%;
    left: 0%;
    bottom: 0;
    height: 100%;
    width: 20%;

    background-color: rgb(77, 77, 77);

    align-items: center;
}

.usernameLabel{
    text-align: center;
    color: white;
}

.usernameTextArea{
    width: 90%;
    margin-top: -3%;
    margin-left: 3%;
}

.openRoom{
    position: fixed;
    top : 90%;
    left: 0%;
    height: 5%;
    width: 20%;

    text-align: center;
    font-size: 1.5vmax;
    color : white;

    background-color: rgb(92, 92, 92);
    border-color: rgb(57, 57, 57);

}

.openRoom:hover{
    background-color: rgb(69, 69, 69);
}

.openRoom:active{
    background-color: rgb(35, 35, 35);
}

.openRoom:disabled{
    background-color: rgb(7, 7, 7);
}

.searchRoom{
    position: fixed;
    top : 95%;
    left: 0%;
    height: 5%;
    width: 20%;

    text-align: center;
    font-size: 1.5vmax;
    color : white;

    background-color: rgb(92, 92, 92);
    border-color: rgb(57, 57, 57);
}

.searchRoom:hover{
    background-color: rgb(69, 69, 69);
}

.searchRoom:active{
    background-color: rgb(35, 35, 35);
}

.searchRoom:disabled{
    background-color: rgb(7, 7, 7);
}